<!DOCTYPE html>
<html lang="en">
    <%-include('partials/encabezado.html');%>
<body onload="mostrarT()">
    <div class="container">
        <section id="lista">
            <br>
            <center>
            <h2>
                Listado de alumnos
            </h2>
            </center>
            <br><br>
            <table class="table" id="tabla">
               <tr>
                    <th>ID</th>
                    <th>Matricula</th>
                    <th>Nombre</th>
                    <th>Domicilio</th>
                    <th>Sexo</th>
                    <th>Especialidad</th>
               </tr>
            </table>
        </section>
        
        <section id="datos">
            <div>
                <form>
                    <div>
                        <center>
                        <br>
                        <br>
                        <button id="btnBuscar" onclick="buscar()" style="float:left; background-color: blueviolet; border-radius: 5px;" class="btn btn-primary">Buscar</button>
                        <input type="number" name="matricula" id="matricula" placeholder="Matricula" required="true" style="margin-left: 15px; border-color: blueviolet; border-radius: 5px;">
                        <input type="text" name="nombre" id="nombre" placeholder="Nombre" style="margin-left: 15px; border-color: blueviolet; border-radius: 5px;">
                        <input type="text" name="domicilio" id="domicilio" placeholder="domicilio" style="margin-left: 15px; border-color: blueviolet; border-radius: 5px;">
                        <select name="sexo" id="sexo" style="margin-left: 10px;">
                            <option value="M">Masculino</option>
                            <option value="F">Femenino</option>
                        </select>
                        <input type="text" name="especialidad" id="especialidad" placeholder="especialidad" style="margin-left: 15px; border-color: blueviolet; border-radius: 5px;">
                    </center>
                    </div>
                    <br>
                </form>
            </div>
            <div style="float:right;">
                <button id="btnAgregar" onclick="agregarAlumno()" class="btn btn-secondary" style="background-color: blueviolet; margin-left: 10px;">Agregar</button>
                <button id="btnBorrar" onclick="eliminar()" class="btn btn-secondary" style="background-color: blueviolet;  margin-left: 10px;">Borrar</button>
                <button id="btnModificar" onclick="modificar()" class="btn btn-secondary" style="background-color: blueviolet;  margin-left: 10px;">Modificar</button>
            </div>
        </section>
    </div>
  
</body>
<%-include('partials/piePagina.html');%>
</html>

<style>
    *{
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
footer{
    padding: 10px;
    text-align: center;
    background-color: rgb(229, 197, 242);
}
.input {
  margin-left: 20px;
  margin-right: 10px;
}
table{
    background-color: rgb(231, 186, 242);
}

</style>